*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url('sl_020622_4930_21.jpg');
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.container{
    width: 440PX;
    height: 230PX;
    color: black;
    background: rgba(250, 250, 250, 0.3);
    padding: 40px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
   text-align: center;
   margin-left: 150PX;
}

.balance{
    margin-top: 20px;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; 
    font-size: 25px;
    gap: 5px;
    color: cadetblue;
}

.container h2{
    font-size: 30px;
    font-weight: 600;
}


#inp-rupees{
    margin-top: 10px;

    padding: 7px;
}

.acount{
    display: flex;
    /* justify-content: baseline; */
    gap: 9px;
    align-items: baseline;
    margin-bottom: 8px;
}

.btn{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: wheat;
    border: none;
    border-radius: 6px;
}
.btn:hover{
    background-color: gray;
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
    scale: 1.1;
}

.btns{
    display: flex;
    gap: 8PX;
}
.warn{
    margin-top: 7px;
}